<template>
  <v-card class="container">
    <v-container fluid>
      <!-- Breadcrumbs-->
      <v-row>
        <v-col cols="12">
          <v-breadcrumbs :items="breadcrumbs" class="text-overline mb-1">
            <template v-slot:prepend> </template>
          </v-breadcrumbs>
        </v-col>
      </v-row>

      <!-- Audio Player -->
      <v-row>
        <v-col cols="12">
          <v-skeleton-loader
            v-if="loading"
            :width="270"
            :height="80"
            class="video ma-5" />

          <div id="player" class="audio ma-5" align="left"></div>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <v-progress-linear indeterminate
                             reverse
                             stream
                             v-show="loading"
                             color="blue" />
        </v-col>
      </v-row>

      <!-- Audio File attributes -->
      <v-row>
        <v-col cols="12">
          <v-table class="table_parameters ma-5 pa-5" elevation="5">
            <thead>
              <tr>
                <th class="text-left" colspan="2">
                  Audio File
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="audioFile.attributes && audioFile.attributes.fileName">
                <td class="table_parameters_key">file_name</td>
                <td>{{ audioFile.attributes.fileName }}</td>
              </tr>

              <tr v-if="audioFile.attributes && audioFile.attributes.fileUrl">
                <td class="table_parameters_key">file_url</td>
                <td>
                  <a :href="audioFile.attributes.fileUrl">
                    {{ truncate(audioFile.attributes.fileUrl, 70, 50) }}
                  </a>
                </td>
              </tr>

              <tr v-if="audioFile.attributes && audioFile.attributes.parameters">
                <td class="table_parameters_key">mime_type</td>
                <td>{{ audioFile.attributes.parameters.mimeType }}</td>
              </tr>

              <tr v-if="audioFile.attributes && audioFile.attributes.fileCreatedAt">
                <td class="table_parameters_key">file_created_at</td>
                <td>{{ formatDate(audioFile.attributes.fileCreatedAt) }}</td>
              </tr>

              <tr v-if="audioFile.attributes && audioFile.attributes.fileUpdatedAt">
                <td class="table_parameters_key">file_updated_at</td>
                <td>{{ formatDate(audioFile.attributes.fileUpdatedAt) }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>

      <!-- Folder attributes -->
      <v-row>
        <v-col cols="12">
          <v-table class="table_parameters ma-5 pa-5">
            <thead>
              <tr>
                <th class="text-left" colspan="2">
                  Folder
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="folder.attributes && folder.attributes.name">
                <td class="table_parameters_key">name</td>
                <td>{{ folder.attributes.name }}</td>
              </tr>

              <tr v-if="folder.attributes && folder.attributes.folder">
                <td class="table_parameters_key">folder</td>
                <td>{{ folder.attributes.folder }}</td>
              </tr>

              <tr v-if="folder.attributes && folder.attributes.subfolder">
                <td class="table_parameters_key">subfolder</td>
                <td>{{ folder.attributes.subfolder }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script lang="ts">
import { mapMutations } from 'vuex'
import stringHelpers from '../mixins/stringHelpers'
import formatDate from '../mixins/formatDate'
import axios from 'axios'
import getFolder from '../mutations/getFolder'
import getAudioFile from '../mutations/getAudioFile'
import _ from 'lodash'
import _get from 'lodash/get'

export default {
  name: 'AudioPlayer',
  created() {
    this.getFolderWithCallback(
      this.getAudioFileWithCallback
    )
  },
  data() {
    return {
      breadcrumbs: [],

      // Streaming service URL
      serviceUrl: 'https://link12.ddns.net:5050',

      // Streaming settings
      loading: true,
      intervals: {},

      // Folder & file parameters
      audioFileParameters: {},
      folderParameters: {},
      folder: {
        //
      },
      audioFile: {
        //
      }
    }
  },
  mounted() {
    if (!this.loading) return

    let player = document.getElementById('player')
    let itemId = this.$route.params.audioFileDataUrl

    this.intervals[itemId] = setInterval(() => {
      axios
        .get(this.railsImportExternalUrl())
        .then((response) => _get(response, 'data', {}))
        .then((response) => {
          if (player && response.m3u8Exists) {
            player.append(
              this.buildIframe(this.hlsServerExternalUrl())
            )
            clearInterval(this.intervals[itemId])

            this.loading = false
          }
        })
        .catch((error) => {
          this.$toast.error(error)
        })
    }, 2000)
  },
  mixins: [formatDate, stringHelpers],
  methods: {
    getFolderWithCallback(callback) {
      getFolder({
        apollo: this.$apollo,
        dataUrl: this.$route.params.folderDataUrl
      })
        .then((response) => _get(response, 'data.getFolder', {}))
        .then((response) => {
          this.folder = response.folder

          //callback
          if (callback) callback()
        })
    },
    getAudioFileWithCallback() {
      getAudioFile({
        apollo: this.$apollo,
        dataUrl: this.$route.params.audioFileDataUrl
      })
        .then((response) => _get(response, 'data.getAudioFile', {}))
        .then((response) => {
          this.audioFile = response.audioFile

          //callback
          this.audioFileParameters = this.audioFile.attributes.parameters
          this.folderParameters = this.folder.attributes.parameters
          if (this.audioFile && this.folder) this.showBreadCrumbs()
        })
    },
    railsImportExternalUrl() {
      return this.serviceUrl + '/audio_files/' +
        this.audioFile.attributes.id + '.json'
    },
    hlsServerExternalUrl() {
      return this.serviceUrl + '/hls/audio-' +
        this.audioFile.attributes.id + '.m3u8'
    },
    buildIframe(url) {
      let iframe = document.createElement('iframe')
      iframe.classList.add('audioFile')
      iframe.src = url
      return iframe
    },
    showBreadCrumbs() {
      this.breadcrumbs = [
        {
          disabled: false,
          title: this.$t('home.title').toUpperCase(),
          to: {
            path: `/home`
          }
        },
        {
          disabled: false,
          title: this.folder.attributes.name.toUpperCase(),
          to: {
            path: `/${this.folder.attributes.dataUrl}`
          }
        }
      ]
    },
  }
}
</script>
