<template>
  <v-card class="container">
    <v-container fluid>
      <!-- Breadcrumbs-->
      <v-row>
        <v-col cols="12">
          <v-breadcrumbs :items="breadcrumbs" class="text-overline mb-1">
            <template v-slot:prepend> </template>
          </v-breadcrumbs>
        </v-col>
      </v-row>

      <!-- Document viewer -->
      <v-row>
        <v-col cols="12">
          <v-card align="center">
            <div v-html="textContent"></div>

            <v-skeleton-loader
              v-if="loading"
              :width="720"
              :height="500"
              type="article" />

            <v-progress-linear indeterminate
                               reverse
                               stream
                               v-show="loading"
                               color="blue" />
          </v-card>
        </v-col>
      </v-row>

      <!-- Text File parameters -->
      <v-row>
        <v-col cols="12">
          <v-table class="table_parameters ma-5 pa-5" elevation="5">
            <thead>
              <tr>
                <th class="text-left" colspan="2">
                  Text File
                </th>
              </tr>
            </thead>
            <tbody>

              <tr v-if="text.attributes && text.attributes.fileName">
                <td class="table_parameters_key">file_name</td>
                <td>{{ text.attributes.fileName }}</td>
              </tr>

              <tr v-if="text.attributes && text.attributes.fileName">
                <td class="table_parameters_key">file_url</td>
                <td>
                  <a :href="text.attributes.fileUrl">
                    {{ truncate(text.attributes.fileUrl, 70, 50) }}
                  </a>
                </td>
              </tr>

              <tr v-if="text.attributes && text.attributes.parameters">
                <td class="table_parameters_key">mime_type</td>
                <td>{{ text.attributes.parameters.mimeType }}</td>
              </tr>

              <tr v-if="text.attributes && text.attributes">
                <td class="table_parameters_key">file_created_at</td>
                <td>{{ formatDate(text.attributes.fileCreatedAt) }}</td>
              </tr>

              <tr v-if="text.attributes && text.attributes.fileUpdatedAt">
                <td class="table_parameters_key">file_updated_at</td>
                <td>{{ formatDate(text.attributes.fileUpdatedAt) }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>

      <!-- Folder attributes -->
      <v-row>
        <v-col cols="12">
          <v-table class="table_parameters ma-5 pa-5">
            <thead>
              <tr>
                <th class="text-left" colspan="2">
                  Folder
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="folder.attributes && folder.attributes.name">
                <td class="table_parameters_key">name</td>
                <td>{{ folder.attributes.name }}</td>
              </tr>

              <tr v-if="folder.attributes && folder.attributes.folder">
                <td class="table_parameters_key">folder</td>
                <td>{{ folder.attributes.folder }}</td>
              </tr>

              <tr v-if="folder.attributes && folder.attributes.subfolder">
                <td class="table_parameters_key">subfolder</td>
                <td>{{ folder.attributes.subfolder }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import { mapMutations } from 'vuex'
import stringHelpers from '../mixins/stringHelpers'
import formatDate from '../mixins/formatDate'
import axios from 'axios'
import getFolder from '../mutations/getFolder'
import getText from '../mutations/getText'
import _ from 'lodash'
import _get from 'lodash/get'
import * as marked from 'marked'

export default {
  components: {

  },
  name: 'DocumentViewer',
  created() {
    this.getFolderWithCallback(
      this.getTextWithCallback
    )
  },
  data() {
    return {
      breadcrumbs: [],
      loading: true,
      fileUrl: null,
      folder: {
        //
      },
      text: {
        //
      },
      textContent: "",
    }
  },
  mixins: [formatDate, stringHelpers],
  methods: {
    getFolderWithCallback(callback) {
      getFolder({
        apollo: this.$apollo,
        dataUrl: this.$route.params.folderDataUrl
      })
        .then((response) => _get(response, 'data.getFolder', {}))
        .then((response) => {
          this.folder = response.folder;

          if (callback) callback()
        })
    },
    getTextWithCallback() {
      getText({
        apollo: this.$apollo,
        dataUrl: this.$route.params.textFileDataUrl
      })
        .then((response) => _get(response, 'data.getText', {}))
        .then((response) => {
          this.text = response.text;

          if (this.text && this.folder) {
            this.fileUrl = this.text.attributes.fileUrl
            this.showBreadCrumbs()
            this.getTextContent()
          }

          this.loading = false
        })
    },
    getTextContent() {
      axios
        .get(this.fileUrl)
        .then((response) => _get(response, 'data', {}))
        .then((response) => {
          this.textContent = marked.parse(response)
        })
        .catch((error) => {
          this.$toast.error(error)
        })
    },
    showBreadCrumbs() {
      this.breadcrumbs = [
        {
          disabled: false,
          title: this.$t('home.title').toUpperCase(),
          to: {
            path: `/home`
          }
        },
        {
          disabled: false,
          title: this.folder.attributes.name.toUpperCase(),
          to: {
            path: `/${this.folder.attributes.dataUrl}`
          }
        }
      ]
    },
  },
};
</script>
