<template>
  <!-- @vue-ignore -->
  <ul v-if="hasImageFiles" class="carouselImagesList">
    <!-- @vue-ignore -->
    <li v-for="(item, index) in imageFiles" :key="item.id">
      <slot name="item" v-bind="item" :index="index" />
    </li>
  </ul>
</template>

<script lang="ts">
export default {
  name: 'ImageFilesList'
}
</script>
