<template>
  <v-card class="container">
    <v-container fluid>
      <!-- Breadcrumbs-->
      <v-row>
        <v-col cols="12">
          <v-breadcrumbs :items="breadcrumbs" class="text-overline mb-1">
            <template v-slot:prepend> </template>
          </v-breadcrumbs>
        </v-col>
      </v-row>

      <!-- Image viewer -->
      <v-row>
        <v-col cols="12">
          <v-card align="center" class="ma-5 pa-5">
            <v-skeleton-loader
              v-if="loading"
              :width="768"
              :height="1366"
              type="image" />

            <v-img
              :max-width="768"
              :max-height="1366"
              aspect-ratio="16/9"
              :src="fileUrl" />
          </v-card>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <v-progress-linear indeterminate
                             reverse
                             stream
                             v-show="loading"
                             color="blue" />
        </v-col>
      </v-row>

      <!-- Image File attributes -->
      <v-row>
        <v-col cols="12">
          <v-table class="table_parameters ma-5 pa-5" elevation="5">
            <thead>
              <tr>
                <th class="text-left" colspan="2">
                  Image File
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="image.attributes && image.attributes.fileName">
                <td class="table_parameters_key">file_name</td>
                <td>{{ image.attributes.fileName }}</td>
              </tr>

              <tr v-if="image.attributes && image.attributes.fileUrl">
                <td class="table_parameters_key">file_url</td>
                <td>
                  <a :href="image.attributes.fileUrl">
                    {{ truncate(image.attributes.fileUrl, 70, 50) }}
                  </a>
                </td>
              </tr>

              <tr v-if="image.attributes && image.attributes.thumbUrl">
                <td class="table_parameters_key">thumb_url</td>
                <td>
                  <a :href="image.attributes.thumbUrl">
                    {{ truncate(image.attributes.thumbUrl, 70, 50) }}
                  </a>
                </td>
              </tr>

              <tr v-if="image.attributes && image.attributes.parameters">
                <td class="table_parameters_key">mime_type</td>
                <td>{{ image.attributes.parameters.mimeType }}</td>
              </tr>

              <tr v-if="image.attributes && image.attributes">
                <td class="table_parameters_key">file_created_at</td>
                <td>{{ formatDate(image.attributes.fileCreatedAt) }}</td>
              </tr>

              <tr v-if="image.attributes && image.attributes.fileUpdatedAt">
                <td class="table_parameters_key">file_updated_at</td>
                <td>{{ formatDate(image.attributes.fileUpdatedAt) }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>

      <!-- Folder attributes -->
      <v-row>
        <v-col cols="12">
          <v-table class="table_parameters ma-5 pa-5">
            <thead>
              <tr>
                <th class="text-left" colspan="2">
                  Folder
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="folder.attributes && folder.attributes.name">
                <td class="table_parameters_key">name</td>
                <td>{{ folder.attributes.name }}</td>
              </tr>

              <tr v-if="folder.attributes && folder.attributes.folder">
                <td class="table_parameters_key">folder</td>
                <td>{{ folder.attributes.folder }}</td>
              </tr>

              <tr v-if="folder.attributes && folder.attributes.subfolder">
                <td class="table_parameters_key">subfolder</td>
                <td>{{ folder.attributes.subfolder }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import { mapMutations } from 'vuex'
import stringHelpers from '../mixins/stringHelpers'
import formatDate from '../mixins/formatDate'
import getFolder from '../mutations/getFolder'
import getImage from '../mutations/getImage'
import _ from 'lodash'
import _get from 'lodash/get'

export default {
  components: {
    
  },
  name: 'ImageViewer',
  created() {
    this.getFolderWithCallback(
      this.getImageWithCallback
    )
  },
  data() {
    return {
      breadcrumbs: [],
      loading: true,
      fileUrl: null,
      folder: {
        //
      },
      image: {
        //
      }
    }
  },
  mixins: [formatDate, stringHelpers],
  methods: {
    getFolderWithCallback(callback) {
      getFolder({
        apollo: this.$apollo,
        dataUrl: this.$route.params.folderDataUrl
      })
        .then((response) => _get(response, 'data.getFolder', {}))
        .then((response) => {
          this.folder = response.folder

          if (callback) callback()
        })
    },
    getImageWithCallback() {
      getImage({
        apollo: this.$apollo,
        dataUrl: this.$route.params.imageFileDataUrl
      })
        .then((response) => _get(response, 'data.getImage', {}))
        .then((response) => {
          this.image = response.image

          if (this.image && this.folder) {
            this.fileUrl = this.image.attributes.fileUrl
            this.showBreadCrumbs()
          }

          this.loading = false
        })
    },
    showBreadCrumbs() {
      this.breadcrumbs = [
        {
          disabled: false,
          title: this.$t('home.title').toUpperCase(),
          to: {
            path: `/home`
          }
        },
        {
          disabled: false,
          title: this.folder.attributes.name.toUpperCase(),
          to: {
            path: `/${this.folder.attributes.dataUrl}`
          }
        }
      ]
    },
  },
};
</script>
