<template>
  <v-card class="container">
    <v-container fluid>
      <!-- Breadcrumbs-->
      <v-row>
        <v-col cols="12">
          <v-breadcrumbs :items="breadcrumbs" class="text-overline mb-1">
            <template v-slot:divider>
              <v-icon>mdi-chevron-right</v-icon>
            </template>

          </v-breadcrumbs>
        </v-col>
      </v-row>

      <!-- Image -->
      <v-row v-if="hasImageFiles">
        <v-col cols="6">
          <v-carousel v-model="carouselModel"
                      height="1024"
                      :show-arrows="false"
                      class="carouselImage"
                      hide-delimiters
                      hide-delimiter-background>

            <v-carousel-item v-for="image in imageFiles" :key="image.attributes.id">
              <v-list-item target="_blank">
                <v-list-item-title>
                  <v-card align="center">
                    <v-skeleton-loader
                      v-if="loading"
                      :width="576"
                      :height="1024"
                      type="image" />

                    <v-img
                      @click="handleClickImageFile($event, image.attributes)"
                      :src="image.attributes.thumbUrl"
                      max-width="576"
                      max-height="1024"
                      aspect-ratio="16/9" />

                  </v-card>
                </v-list-item-title>
              </v-list-item>
            </v-carousel-item>
          </v-carousel>
        </v-col>

        <v-col cols="6">
          <ImageFilesList>
            <template #item="{ index, attributes }">
              <v-list>
                <v-list-item link @click="handleClickImageFileCarousel($event, index)">
                  <v-list-item-title>
                    <v-icon>mdi-file-image</v-icon>
                    <span class="image-filename">
                      {{ attributes.fileName }}
                    </span>
                  </v-list-item-title>

                </v-list-item>
                <v-divider inset></v-divider>
              </v-list>
            </template>
          </ImageFilesList>
        </v-col>
      </v-row>

      <v-row v-if="hasImageFiles">
        <v-col cols="12">
          <div class="d-flex justify-space-around">
            <v-btn
              icon="mdi-minus"
              variant="text"
              @click="handleClickImageFileCarousel($event, Math.max(carouselModel - 1, 0))" />

            <div class="carouselIndex">
              {{ carouselModel+1 }} / {{ imageFiles.length }}
            </div>

            <v-btn
              icon="mdi-plus"
              variant="text"
              @click="handleClickImageFileCarousel($event, Math.min(carouselModel + 1, imageFiles.length - 1))" />
          </div>
        </v-col>
      </v-row>

      <!-- Audio -->
      <v-row v-if="hasAudioFiles">
        <v-col cols="12">
          <AudioFilesList>
            <template #item="{ attributes }">
              <v-list>
                <v-list-item link @click="handleClickAudioFile($event, attributes)">
                  <v-list-item-title>
                    <v-icon>mdi-file-music</v-icon>
                    <span class="filename">
                      {{ attributes.parameters.title }}
                    </span>
                  </v-list-item-title>

                </v-list-item>
                <v-divider inset></v-divider>
              </v-list>
            </template>
          </AudioFilesList>
        </v-col>
      </v-row>

      <!-- Video -->
      <v-row v-if="hasVideoFiles">
        <v-col cols="12">
          <VideoFilesList>
            <template #item="{ attributes }">
              <v-list>
                <v-list-item link @click="handleClickVideoFile($event, attributes)">
                  <v-list-item-title>
                    <v-icon>mdi-file-video</v-icon>
                    <span class="filename">
                      {{ attributes.fileName }}
                    </span>
                  </v-list-item-title>

                </v-list-item>
                <v-divider inset></v-divider>
              </v-list>
            </template>
          </VideoFilesList>
        </v-col>
      </v-row>

      <!-- Pdf -->
      <v-row v-if="hasPdfFiles">
        <v-col cols="12">
          <PdfFilesList>
            <template #item="{ attributes }">
              <v-list>
                <v-list-item link @click="handleClickPdfFile($event, attributes)">
                  <v-list-item-title>
                    <v-icon>mdi-file-pdf-box</v-icon>
                    <span class="filename">
                      {{ attributes.fileName }}
                    </span>
                  </v-list-item-title>

                </v-list-item>
                <v-divider inset></v-divider>
              </v-list>
            </template>
          </PdfFilesList>
        </v-col>
      </v-row>

      <!-- Text -->
      <v-row v-if="hasTextFiles">
        <v-col cols="12">
          <TextFilesList>
            <template #item="{ attributes }">
              <v-list>
                <v-list-item link @click="handleClickTextFile($event, attributes)">
                  <v-list-item-title>
                    <v-icon>mdi-file-document</v-icon>
                    <span class="filename">
                      {{ attributes.fileName }}
                    </span>
                  </v-list-item-title>

                </v-list-item>
                <v-divider inset></v-divider>
              </v-list>
            </template>
          </TextFilesList>
        </v-col>
      </v-row>

    </v-container>
  </v-card>
</template>

<script lang="ts">
import { ref } from 'vue'
import { mapMutations } from 'vuex'
import showItem from '../mutations/showItem'
import AudioFilesList from '../components/AudioFilesList.vue'
import VideoFilesList from '../components/VideoFilesList.vue'
import PdfFilesList from '../components/PdfFilesList.vue'
import ImageFilesList from '../components/ImageFilesList.vue'
import TextFilesList from '../components/TextFilesList.vue'
import _ from 'lodash'
import _get from 'lodash/get'

export default {
  name: 'LoadFolder',
  components: {
    AudioFilesList,
    VideoFilesList,
    PdfFilesList,
    ImageFilesList,
    TextFilesList,
  },
  created() {
    this.loadFolder()
  },
  data() {
    return {
      carouselModel: ref(0),
      breadcrumbs: [],
      loading: true,
      folder: {
        //
      },
    }
  },
  methods: {
    ...mapMutations(['setStoreData']),
    loadFolder() {
      showItem({
        apollo: this.$apollo,
        id: this.$route.params.id
      })
        .then((response: any) => _get(response, 'data.showItem', {}))
        .then((response: any) => {
          this.mainStore.setStoreData({
            displayItem: {
              folder: response.folder,
              audioFiles: response.audioFiles,
              videoFiles: response.videoFiles,
              imageFiles: response.imageFiles,
              pdfFiles: response.pdfFiles,
              textFiles: response.textFiles,
            }
          })

          this.folder = response.folder
          this.showBreadCrumbs()
          this.carouselModel = this.mainStore.storeData.carouselModel
          this.loading = false
        })
        .catch((error: string) => {
          this.$toast.error(error)
        })
    },
    showBreadCrumbs() {
      this.breadcrumbs = [
        {
          disabled: false,
          title: this.$t('home.title').toUpperCase(),
          to: {
            path: `/home`
          }
        },
        {
          disabled: false,
          title: this.folder.attributes.name.toUpperCase(),
          to: {
            path: `/${this.folder.attributes.dataUrl}`
          }
        }
      ]
    },
    handleClickImageFileCarousel(event: any, index: any) {
      this.carouselModel = Number(index)
      this.mainStore.setStoreData({
        carouselModel: this.carouselModel
      })
    },
    handleClickImageFile(event: any, attributes: any) {
      this.$router.push({
        path: `/${this.folder.attributes.dataUrl}/image/${attributes.dataUrl}`
      })
    },
    handleClickAudioFile(event: any, attributes: any) {
      this.$router.push({
        path: `/${this.folder.attributes.dataUrl}/audio/${attributes.dataUrl}`
      })
    },
    handleClickVideoFile(event: any, attributes: any) {
      this.$router.push({
        path: `/${this.folder.attributes.dataUrl}/video/${attributes.dataUrl}`
      })
    },
    handleClickPdfFile(event: any, attributes: any) {
      this.$router.push({
        path: `/${this.folder.attributes.dataUrl}/pdf/${attributes.dataUrl}`
      })
    },
    handleClickTextFile(event: any, attributes: any) {
      this.$router.push({
          path: `/${this.folder.attributes.dataUrl}/text/${attributes.dataUrl}`
      })
    }
  }
}
</script>
