<template>
  <v-card class="container">
    <v-container fluid>
      <!-- Breadcrumbs-->
      <v-row>
        <v-col cols="12">
          <v-breadcrumbs :items="breadcrumbs" class="text-overline mb-1">
            <template v-slot:divider>
              <v-icon>mdi-chevron-right</v-icon>
            </template>

          </v-breadcrumbs>
        </v-col>
      </v-row>

      <!-- Search input -->
      <v-row>
        <v-col cols="12">
          <v-text-field
            v-bind:label="$t('search.input_label')"
            class="mb-1"
            color="blue darken-2"
            outlined
            variant="outlined"
            clearable
            clear-icon="mdi-delete"
            v-model="searchQuery"
            @click:clear="handleClickClear"
            @keydown.enter="handleSearchFromInput" />

        </v-col>
      </v-row>
      <v-row v-if="hasResults">
        <v-col cols="12">
          <SearchResults>
            <template #item="{ id, attributes }">
              <v-list>
                <v-list-item>
                  <!-- Name -->
                  <v-list-item-title
                    @click="handleClick($event, attributes)"
                    class="ma-2 cursor-pointer">

                    <v-icon>mdi-folder-open-outline</v-icon>
                    <span class="text-overline mb-1">
                      {{ attributes.name }}
                    </span>
                  </v-list-item-title>

                  <!-- Folder / Subfolder -->
                  <v-list-item-title>
                    <v-chip
                      color="blue darken-2"
                      @click="handleClickFolder($event, attributes)"
                      v-if="attributes.folder"
                      class="ma-1"
                      x-small
                      outlined
                      label>
                      {{ attributes.folder }}
                    </v-chip>

                    <v-chip
                      color="purple darken-2"
                      @click="handleClickSubfolder($event, attributes)"
                      v-if="attributes.subfolder"
                      class="ma-1"
                      x-small
                      outlined
                      label>
                      {{ attributes.subfolder }}
                    </v-chip>

                    <v-chip
                      color="grey darken-2"
                      @click="handleClickYear($event, attributes)"
                      v-if="attributes.year"
                      class="ma-1"
                      x-small
                      outlined
                      label>
                      {{ attributes.year }}
                    </v-chip>
                  </v-list-item-title>
                  <hr />
                </v-list-item>
              </v-list>
            </template>
          </SearchResults>
        </v-col>
      </v-row>
      <v-row v-if="!hasResults" align="center" justify="center" class="noResults">
        <v-col cols="12">
          {{ $t('search.no_results') }}
        </v-col>
      </v-row>
      <v-row v-if="hasResults" align="center" justify="center">
        <v-col cols="12" class="ma-5 pa-5">
          <v-pagination
            color="blue darken-2"
            :size="30"
            :total-visible="7"
            :show-first-last-page="true"
            :model-value="currentPage"
            :length="totalPages"
            @update:modelValue="handleSearchFromPagination"
          >
          </v-pagination>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script lang="ts">
import { mapMutations } from 'vuex'
import SearchResults from '../components/SearchResults.vue'
import search from '../mutations/search'
import _ from 'lodash'
import _get from 'lodash/get'

export default {
  name: 'SearchTable',
  components: { SearchResults },
  data() {
    return {
      breadcrumbs: [],
      defaultSearchParams: {
        page: 1,
        q: ''
      },
      search: {
        response: {
          //
        }
      },
      displayItem: {
        //
      }
    }
  },
  watch: {
    '$route.name': {
      handler: function (route_name) {
        this.showBreadCrumbs(route_name);
      },
      deep: true,
      immediate: true
    }
  },
  methods: {
    ...mapMutations(['setStoreData']),
    handleSearch() {
      search(_.assign({ apollo: this.$apollo }, this.defaultSearchParams, this.search))
        .then((response: any) => _get(response, 'data.search', {}))
        .then((response: any) => {
          if (response) {
            this.mainStore.setStoreData({
              search: _.assign(this.search, {
                response: response
              })
            })
          }
        })
        .catch((error: string) => {
          this.$toast.error(error)
        })
    },
    handleClick(event: any, attributes: any) {
      this.$router.push({
        path: `/${attributes.dataUrl}`
      })
    },
    handleClickClear() {
      this.$router.push({
        name: `home_redirect`
      })
    },
    handleSearchFromInput(event: any) {
      this.search = _.omit(this.search, ['folder', 'subfolder']);

      if (event.target.value == '') {
        this.handleClickClear()
      } else {
        this.$router.push({
          path: `/search/${event.target.value}`
        })
      }
    },
    handleSearchFromPagination(event: any) {
      _.assign(this.search, { page: event })

      this.handleSearch()
    },
    handleClickFolder(event: any, attributes: any) {
      this.$router.push({
        path: `/home/${attributes.folder}`
      })
    },
    handleClickSubfolder(event: any, attributes: any) {
      this.$router.push({
        path: `/home/${attributes.folder}/${attributes.subfolder}`
      })
    },
    showBreadCrumbs(route_name: string) {
      switch (route_name) {
        // Home
        case 'home': {
          _.assign(this.search, this.mainStore.storeData.search)
          this.handleSearch()
          this.breadcrumbs = []
          this.breadcrumbs.push({
            disabled: false,
            title: this.$t('home.title').toUpperCase(),
            to: {
              name: 'home_redirect',
              state: this.defaultSearchParams
            }
          })
          break
        }

        // Home
        case 'home_redirect': {
          _.assign(this.search, this.defaultSearchParams)
          this.search = _.omit(this.search, ['folder', 'subfolder'])
          this.handleSearch()
          this.breadcrumbs = []
          this.breadcrumbs.push({
            disabled: false,
            title: this.$t('home.title').toUpperCase(),
            to: {
              name: 'home_redirect',
              state: this.defaultSearchParams
            }
          })
          break
        }

        // Search
        case 'home_search': {
          const query = this.$route.params.q
          _.assign(this.search, this.defaultSearchParams, { q: query })
          this.handleSearch()
          this.breadcrumbs = [
            {
              disabled: false,
              title: this.$t('home.title').toUpperCase(),
              to: {
                name: 'home_redirect',
                state: this.defaultSearchParams,
              }
            }
          ]
          if (this.mainStore.storeData.search.q) {
            this.breadcrumbs.push({
              disabled: false,
              text: this.mainStore.storeData.search.q.toUpperCase(),
              to: {
                path: `/home`,
              },
            })
          }
          break
        }

        // Browse Subfolder
        case 'home_folder_subfolder': {
          const folder = this.$route.params.folder
          const subfolder = this.$route.params.subfolder
          _.assign(this.search, this.defaultSearchParams, {
            folder: folder,
            subfolder: subfolder
          })
          this.handleSearch()
          this.breadcrumbs = [
            {
              disabled: false,
              title: this.$t('home.title').toUpperCase(),
              to: {
                name: 'home_redirect',
                state: this.defaultSearchParams,
              }
            },
            {
              disabled: false,
              title: subfolder.toUpperCase(),
              to: {
                path: `/home/${folder}/${subfolder}`,
              }
            }
          ]
          break
        }

        // Browse Folder
        case 'home_folder': {
          const folder = this.$route.params.folder
          _.assign(this.search, this.defaultSearchParams, { folder: folder })
          this.search = _.omit(this.search, ['subfolder'])
          this.handleSearch()
          this.breadcrumbs = [
            {
              disabled: false,
              title: this.$t('home.title').toUpperCase(),
              to: {
                name: 'home_redirect',
                state: this.defaultSearchParams
              }
            },
            {
              disabled: false,
              title: folder.toUpperCase(),
              to: {
                path: `/home/${folder}`
              }
            }
          ]
          break
        }

        default: {
          // Route not found
          this.$toast.warning('Route not found: ' + route_name)
          break
        }
      }
    }
  }
}
</script>
