<template>
  <!-- @vue-ignore -->
  <ul v-if="hasResults">
    <!-- @vue-ignore -->
    <li v-for="item in searchResults" :key="item.id">
      <slot name="item" v-bind="item" />
    </li>
  </ul>
</template>

<script lang="ts">
  export default {
    name: 'SearchResults'
  }
</script>
