<template>
  <!-- @vue-ignore -->
  <ul v-if="hasTextFiles">
    <!-- @vue-ignore -->
    <li v-for="item in textFiles" :key="item.id">
      <slot name="item" v-bind="item" />
    </li>
  </ul>
</template>

<script lang="ts">
export default {
  name: 'TextFilesList'
}
</script>
