<template>
  <v-card class="container">
    <v-container fluid>
      <!-- Breadcrumbs-->
      <v-row>
        <v-col cols="12">
          <v-breadcrumbs :items="breadcrumbs" class="text-overline mb-1">
            <template v-slot:prepend> </template>
          </v-breadcrumbs>
        </v-col>
      </v-row>

      <!-- Pdf viewer -->
      <v-row>
        <v-col cols="12">
          <v-card align="center">
            <vue-pdf-app id="webviewer" theme="light" :pdf="fileUrl" />

            <v-skeleton-loader
              v-if="loading"
              :width="720"
              :height="1280"
              type="article" />

            <v-progress-linear indeterminate
                               reverse
                               stream
                               v-show="loading"
                               color="blue" />
          </v-card>
        </v-col>
      </v-row>

      <!-- Pdf File parameters -->
      <v-row>
        <v-col cols="12">
          <v-table class="table_parameters ma-5 pa-5" elevation="5">
            <thead>
              <tr>
                <th class="text-left" colspan="2">
                  Pdf File
                </th>
              </tr>
            </thead>
            <tbody>

              <tr v-if="pdf.attributes && pdf.attributes.fileName">
                <td class="table_parameters_key">file_name</td>
                <td>{{ pdf.attributes.fileName }}</td>
              </tr>

              <tr v-if="pdf.attributes && pdf.attributes.fileName">
                <td class="table_parameters_key">file_url</td>
                <td>
                  <a :href="pdf.attributes.fileUrl">
                    {{ truncate(pdf.attributes.fileUrl, 70, 50) }}
                  </a>
                </td>
              </tr>

              <tr v-if="pdf.attributes && pdf.attributes.parameters">
                <td class="table_parameters_key">mime_type</td>
                <td>{{ pdf.attributes.parameters.mimeType }}</td>
              </tr>

              <tr v-if="pdf.attributes && pdf.attributes">
                <td class="table_parameters_key">file_created_at</td>
                <td>{{ formatDate(pdf.attributes.fileCreatedAt) }}</td>
              </tr>

              <tr v-if="pdf.attributes && pdf.attributes.fileUpdatedAt">
                <td class="table_parameters_key">file_updated_at</td>
                <td>{{ formatDate(pdf.attributes.fileUpdatedAt) }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>

      <!-- Folder attributes -->
      <v-row>
        <v-col cols="12">
          <v-table class="table_parameters ma-5 pa-5">
            <thead>
              <tr>
                <th class="text-left" colspan="2">
                  Folder
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="folder.attributes && folder.attributes.name">
                <td class="table_parameters_key">name</td>
                <td>{{ folder.attributes.name }}</td>
              </tr>

              <tr v-if="folder.attributes && folder.attributes.folder">
                <td class="table_parameters_key">folder</td>
                <td>{{ folder.attributes.folder }}</td>
              </tr>

              <tr v-if="folder.attributes && folder.attributes.subfolder">
                <td class="table_parameters_key">subfolder</td>
                <td>{{ folder.attributes.subfolder }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import VuePdfApp from 'vue3-pdf-app'
import { mapMutations } from 'vuex'
import stringHelpers from '../mixins/stringHelpers'
import formatDate from '../mixins/formatDate'
import getFolder from '../mutations/getFolder'
import getPdf from '../mutations/getPdf'
import _ from 'lodash'
import _get from 'lodash/get'

export default {
  components: {
    VuePdfApp
  },
  name: 'WebViewer',
  created() {
    this.getFolderWithCallback(
      this.getPdfWithCallback
    )
  },
  data() {
    return {
      breadcrumbs: [],
      loading: true,
      fileUrl: null,
      folder: {
        //
      },
      pdf: {
        //
      }
    }
  },
  mixins: [formatDate, stringHelpers],
  methods: {
    getFolderWithCallback(callback) {
      getFolder({
        apollo: this.$apollo,
        dataUrl: this.$route.params.folderDataUrl
      })
        .then((response) => _get(response, 'data.getFolder', {}))
        .then((response) => {
          this.folder = response.folder;

          if (callback) callback()
        })
    },
    getPdfWithCallback() {
      getPdf({
        apollo: this.$apollo,
        dataUrl: this.$route.params.pdfFileDataUrl
      })
        .then((response) => _get(response, 'data.getPdf', {}))
        .then((response) => {
          this.pdf = response.pdf;

          if (this.pdf && this.folder) {
            this.fileUrl = this.pdf.attributes.fileUrl
            this.showBreadCrumbs()
          }

          this.loading = false
        })
    },
    showBreadCrumbs() {
      this.breadcrumbs = [
        {
          disabled: false,
          title: this.$t('home.title').toUpperCase(),
          to: {
            path: `/home`
          }
        },
        {
          disabled: false,
          title: this.folder.attributes.name.toUpperCase(),
          to: {
            path: `/${this.folder.attributes.dataUrl}`
          }
        }
      ]
    },
  },
};
</script>