/* HTML layout */
html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

/* Main Application */
#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
}

/* Application background */
.v-application {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

/* Hyperlinks  */
a,
a:visited {
  text-decoration: none;
}

/* Active link */
a:hover {
  color: #1976d2;
}

/* Cursor  */
.cursor-pointer {
  cursor: pointer;
}

/* Main container */
.v-card {
  background: #0c0f0f;
  margin: 80px auto !important;
}

/* content */
.v-card.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

/* no results */
.v-card .v-row.noResults {
  color: #90a4ae;
}

/* Lists */
.v-list {
  margin: 0;
  padding: 0;
  background: #0c0f0f;
}

/* Icons */
.v-list > .v-list-item .v-icon {
  margin: 0 20px;
  font-size: 25px;
}

/* content */
.v-list > .v-list-item .audio {
  display: none;
  height: 80px;
  width: 270px;
  min-width: auto;
}

.v-list > .v-list-item .video {
  display: none;
  height: 480px;
  width: 854px;
  min-width: auto;
}
.v-list-item-title {
  text-align: left;
}

/* separations */
.v-divider--inset:not(.v-divider--vertical) {
  max-width: calc(100% - 0px);
  margin-inline-start: 0px;
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

hr {
  border-top: 1px solid #444 !important;
}

iframe.audioFile {
  display: block;
  height: 60px;
  width: 250px;
  background-color: transparent;
}

iframe.videoFile {
  display: block;
  height: 480px;
  width: 854px;
  background-color: transparent;
}

.v-btn {
  letter-spacing: inherit !important;
  line-height: inherit !important;
}

#webviewer {
  width: 100%;
  height: 100vh;
  margin: 10px 0;
}

.table_parameters {
  color: #DDD;
}

.table_parameters tbody tr {
  text-align: left;
}

.table_parameters_key {
  width: 20%;
}

.v-list span .filename {
  font-size: 14px;
  color: #EEE;
}

.v-list span .image-filename {
  font-size: 14px;
  color: #EEE;
}

.carouselImage {
  background-color: #111;
  border: 1px solid #222;
}

.carouselIndex {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
}

.carouselImagesList {
  padding: 0;
  height: 1024px;
  overflow: scroll;
}
