<template>
  <AudioPlayer></AudioPlayer>
</template>

<script lang="ts">
import AudioPlayer from '../components/AudioPlayer.vue'

export default {
  name: 'AudioFile',
  components: { AudioPlayer }
}
</script>
