<template>
  <LoadFolder></LoadFolder>
</template>

<script lang="ts">
import LoadFolder from '../components/LoadFolder.vue'

export default {
  name: 'DisplayItem',
  components: { LoadFolder }
}
</script>
