<template>
  <SearchTable></SearchTable>
</template>

<script lang="ts">
import SearchTable from '../components/SearchTable.vue'

export default {
  name: 'HomeShow',
  components: { SearchTable }
}
</script>
