<template>
  <ImageViewer></ImageViewer>
</template>

<script lang="ts">
import ImageViewer from '../components/ImageViewer.vue'

export default {
  name: 'ImageFile',
  components: { ImageViewer }
}
</script>
