<template>
  <v-card class="container">
    <h2>404 - Page Not Found</h2>
    <p>This page no longer exists or was moved to another location.</p>
  </v-card>
</template>

<script lang="ts">
export default {
  name: 'NotFound'
}
</script>
