<template>
  <DocumentViewer></DocumentViewer>
</template>

<script lang="ts">
import DocumentViewer from '../components/DocumentViewer.vue'

export default {
  name: 'TextFile',
  components: { DocumentViewer }
}
</script>
