<template>
  <VideoPlayer></VideoPlayer>
</template>

<script lang="ts">
import VideoPlayer from '../components/VideoPlayer.vue'

export default {
  name: 'VideoFile',
  components: { VideoPlayer }
}
</script>
